include mixins/image.pug
doctype html
html(lang="en")
  head
    title #{title} - SVG image preview
    style
      include style.css
      include ../node_modules/spectre.css/dist/spectre.min.css
  body.hide-images
    .container
      h1 #{title}
      div.grid
        each image in images
          div
            +image(image)
    footer
      button.btn(onClick=`document.querySelector('body').className = document.querySelector('body').className ? '' : 'hide-images'`) Toggle images
