extends layout.pug
include mixins/image.pug

block content
  h1 #{title}
  div.grid
    each image in images
      div
        +image(image)

block footer
  footer
    button.btn(onClick=`document.querySelector('body').className = document.querySelector('body').className ? '' : 'hide-images'`) Toggle images
