doctype html
html(lang="en")
  head
    title #{title} - SVG image preview
    style
      include ../node_modules/spectre.css/dist/spectre.min.css
      include ../node_modules/spectre.css/dist/spectre-icons.min.css
      include style.css
  body
    .container
      header.navbar
        section.navbar-section
          .navbar-brand.mr-2 SQIP Research
          a.btn.btn-link(href='index.html') Home
      .divider
      main
        block content
    block footer
