doctype html
html(lang="en")
  head
    title #{title} - SVG image preview
    style
      include ../node_modules/spectre.css/dist/spectre.min.css
      include ../node_modules/spectre.css/dist/spectre-icons.min.css
      include style.css
  body
    .container
      block content
    block footer
