body.hide-images img {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-wrapper {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
